.screen-popup-back.hidden
  .screen-popup-div.hidden
    .popup-head-text-div
      h1 Are you sure ?
    .popup-confirm-details-div
      .popup-confirm-name-div
        h1 Name
        h2 Jestin George
      .popup-confirm-name-div
        h1 Amount
        h2 4999
    form.popup-client-entries-form#add-client-form(action)
      .popup-input-entries-div
        input#_id(type="hidden", name="_id", value=_id)
        label(for="client-id") Enter Client ID
        input#client-id(type="text")
      .popup-input-entries-div
        label(for="client-id") Re-Enter Client ID
        input#cnf-client-id(type="text")
      .popup-input-entries-div
        label(for="client-id") Enter Card Number
        input#client-card-no(type="text")
      label.login-error-label.popup-error-msg.hidden#errMsg(for="error") Display Error Here
      label.popup-warning-message(for="warning-msg") This Transaction cannot be Undone
      .popup-submit-cancel-btn-div
        input.popup-sumbit-btn(type="submit", value="Submit")
        button.popup-cancel-btn(type="button") Cancel
  .popup-checkmark-container.hidden
    img(src="/Source/check-mark.gif", alt="success-animation")