meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Dashboard | esadhi
link(rel="stylesheet", href="/CSS/style.css")
.dashboard-container
  .screen-popup-back.hidden
    .screen-popup-div
      .popup-head-text-div
        h1 Are you sure ?
      .popup-confirm-details-div
        .popup-confirm-name-div
          h1 Name
          h2 Jestin George
        .popup-confirm-name-div
          h1 Amount
          h2 4999
      form.popup-client-entries-form#add-client-form(action)
        .popup-input-entries-div
          label(for="client-id") Enter Client ID
          input#client-id(type="text")
        .popup-input-entries-div
          label(for="client-id") Re-Enter Client ID
          input#cnf-client-id(type="text")
        .popup-input-entries-div
          label(for="client-id") Enter Card Number
          input#client-card-no(type="text")
        label.login-error-label.popup-error-msg#errMsg(for="error") Display Error Here
        label.popup-warning-message(for="warning-msg") This Transaction cannot be Undone
        .popup-submit-cancel-btn-div
          input.popup-sumbit-btn(type="submit", value="Submit")
          button.popup-cancel-btn Cancel
  nav.dash-nav-container
    a.nav-logo-div(href="#")
      img(src="/Source/Logo.svg", alt)
    a.nav-items-container(href="#")
      .nav-items-icon-div
        img(src="/Source/overviewIcon.svg", alt="overview icon")
      .nav-items-name-div
        h2.nav-items-name-div Overview
    a.nav-items-container.nav-items-container-selected(href="#")
      .nav-items-icon-div
        img.nav-items-icon-selected(src="/Source/approveIcon.svg", alt="overview icon")
      .nav-items-name-div
        h2.nav-items-selected Approve
    a.nav-items-container(href="#")
      .nav-items-icon-div
        img(src="/Source/pendingRewardsIcon.svg", alt="pending rewards icon")
      .nav-items-name-div
        h2 Pending Rewards
    a.nav-items-container(href="#")
      .nav-items-icon-div
        img(src="/Source/completedRewardsIcon.svg", alt="completed rewards icon")
      .nav-items-name-div
        h2 Completed Rewards
    a.nav-items-container(href="#")
      .nav-items-icon-div
        img(src="/Source/agentsIcon.svg", alt="cAgents icon")
      .nav-items-name-div
        h2 Agents
    a.nav-items-container(href="#")
      .nav-items-icon-div
        img(src="/Source/clientsIcon.svg", alt="Clients icon")
      .nav-items-name-div
        h2 Clients
  .dashboard-content-container
    .dashboard-content-header-div
      h1 Approvals
      h3
        | Hello 
        span Super Admin
        | !!!
      a(href="#")
        img(src="/Source/logoutIcon.svg", alt="logout icon")
    .approvals-contect-container
      .approvals-contect-container-header
        h1.client-individual-name Jestin George
        button.client-individual-approve-btn Approve
      .client-individual-details-container
        .client-individual-details-div
          .client-individual-details-data-sec
            h1 Admin Name
            h2 Bastin
          .client-individual-details-data-sec
            h1 Package
            h2 Premium
          .client-individual-details-data-sec
            h1 Amount Payable
            h2
              | Rs 
              span 4500
        hr.approval-hr
        .client-individual-details-div
          .client-individual-details-data-sec
            h1 Contact
            h2 9874561230
          .client-individual-details-data-sec
            h1 Email Address
            h2 jestin@gmail.com
          .client-individual-details-data-sec
            h1 Address
            h2 Menachery House, Periyadka, Belthangadi, Karnataka
        hr.approval-hr
        .client-individual-tree-struct-container
          .client-tree-struct-div
            .client-tree-father-div
              img(src="/Source/adminTreeIcon.svg", alt)
              h3 Bastin
              hr.client-tree-father-hr
            .client-tree-father-div
              img(src="/Source/currentTreeIcon.svg", alt)
              h3 Jestin George
              hr.client-tree-father-hr
            hr.client-under-hor-hr
            .client-tree-under-tree-container
              .client-tree-father-div
                hr.client-tree-father-hr
                img(src="/Source/underTreeIcon.svg", alt)
                h3 Nil
              .client-tree-father-div
                hr.client-tree-father-hr
                img(src="/Source/underTreeIcon.svg", alt)
                h3 Nil
              .client-tree-father-div
                hr.client-tree-father-hr
                img(src="/Source/underTreeIcon.svg", alt)
                h3 Nil
              .client-tree-father-div
                hr.client-tree-father-hr
                img(src="/Source/underTreeIcon.svg", alt)
                h3 JNil