extends ../../Layout/super-admin-layout

block content
  .add-client-container
    form#addClient-form.add-client-form(action)
      .add-client-form-container
        .add-client-form-div1
          .add-client-form-ele1
            label(for="name") Name
            input#name(type="text")
          .add-client-form-ele1
            label(for="name") Address
            input#address(type="text")
          .add-client-form-ele1
            label(for="name") Contact
            input#contact(type="tel", maxlength="10")
        .add-client-form-div2
          .add-client-form-ele1
            label(for="name") Email
            input#email(type="email")
          .add-client-form-ele1
            label(for="name") Create Password
            input.parentid-input#password(type="text")
          .add-client-form-ele1
            label(for="name") Confirm Password
            input.parentid-input#confirmPassword(type="text")
      .add-client-form-div3
        label.login-error-label.hidden#errMsg(for="error") Display Error Here
        input(type="submit", value="Submit")