extends ../../Layout/super-admin-layout

block content
  .approvals-contect-container
    .approvals-contect-container-header
      h1.client-individual-name Jestin George
    .client-individual-details-container
      .client-individual-details-div
        .client-individual-details-data-sec
          h1 Name
          h2 #{name}
        .client-individual-details-data-sec
          h1 Email
          h2 #{email}
      hr.approval-hr
      .client-individual-details-div
        .client-individual-details-data-sec
          h1 Contact
          h2 #{phoneNo}
        .client-individual-details-data-sec
          h1 Address
          h2 #{address}
      hr.approval-hr