extends ../../Layout/super-admin-layout

block content
    .dashboard-content-container-sub-div
      .dashboard-container-sub1
        a.dash-content-box(href="/approvals")
          img(src="/Source/penApprovalsIcon.svg", alt="pending approvals icon")
          .dash-content-box-sub
            h1 Pending Approvals
            h2#penApprovals 1055
            h3 Request sent by Admin's
        a.dash-content-box(href="/HTML/approvals.html")
          img(src="/Source/penRewardsIcon.svg", alt="pending approvals icon")
          .dash-content-box-sub
            h1 Pending Rewards
            h2#penRewards 1055
            h3 Eligible Client's
      .dashboard-container-sub2
        canvas#myChart