meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Dashboard | esadhi
link(rel="stylesheet", href="/CSS/style.css")
.dashboard-container
  if(popup)
    if(popup==="Approve")
      include ../Components/_approve_popup.pug
    else if(popup==="Reward")
      include ../Components/_reward_popup.pug
  nav.dash-nav-container
    a.nav-logo-div(href="/dashboard")
      img(src="/Source/Logo.svg", alt)
    a.nav-items-container.nav-items-container-selected(href="/dashboard")
      .nav-items-icon-div
        img(src="/Source/overviewIcon.svg", alt="overview icon")
      .nav-items-name-div
        h2.nav-items-selected Overview
    a.nav-items-container(href="/approvals")
      .nav-items-icon-div
        img(src="/Source/approveIcon.svg", alt="approve icon")
      .nav-items-name-div
        h2 Approval
    a.nav-items-container(href="/pending-rewards")
      .nav-items-icon-div
        img(src="/Source/pendingRewardsIcon.svg", alt="pending rewards icon")
      .nav-items-name-div
        h2 Pending Rewards
    a.nav-items-container(href="/completed-rewards")
      .nav-items-icon-div
        img(src="/Source/completedRewardsIcon.svg", alt="completed rewards icon")
      .nav-items-name-div
        h2 Completed Rewards
    a.nav-items-container(href="/admins")
      .nav-items-icon-div
        img(src="/Source/agentsIcon.svg", alt="cAgents icon")
      .nav-items-name-div
        h2 Admins
    a.nav-items-container(href="/add-admin")
      .nav-items-icon-div
        img(src="/Source/addClientIcon.svg", alt="cAgents icon")
      .nav-items-name-div
        h2 Add Admin
    a.nav-items-container(href="/reset-admin")
      .nav-items-icon-div
        img(src="/Source/blockAdmin.svg", alt="cAgents icon")
      .nav-items-name-div
        h2 Reset Admin
    a.nav-items-container(href="/clients")
      .nav-items-icon-div
        img(src="/Source/clientsIcon.svg", alt="Clients icon")
      .nav-items-name-div
        h2 Clients
    a.nav-items-container(href="/reset-password")
      .nav-items-icon-div
        img(src="/Source/resetPasswordIcon.svg", alt="completed rewards icon")
      .nav-items-name-div
        h2 Reset Password
  .dashboard-content-container
    .dashboard-content-header-div
      h1 #{heading}
      h3
        | Welcome Back 
        span Brijesh
        | !!!
      img#logout-icon-btn(src="/Source/logoutIcon.svg", alt="logout icon")
    
    block content

each url in scripts
    script(src=url)
script.
  
  const ctx = document.getElementById('myChart');
  
          new Chart(ctx, {
              type: 'bar',
              data: {
              labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
              datasets: [{
                  label: 'My First Dataset',
                  data: [65, 59, 80, 81, 56, 55, 40, 59, 80, 81, 56, 55, 40],
                  backgroundColor: [
                  '#00FDFA',
                  '#FE664F',
                  '#00FDFA',
                  '#FE664F',
                  '#00FDFA',
                  '#FE664F',  
                  '#00FDFA',
                  '#FE664F',
                  '#00FDFA',
                  '#FE664F',
                  '#00FDFA',
                  '#FE664F'
                  ],
                  borderColor: [
                  '#00FDFA',
                  '#FE664F',
                  '#00FDFA',
                  '#FE664F',
                  '#00FDFA',
                  '#FE664F',
                  '#00FDFA',
                  '#FE664F',
                  '#00FDFA',
                  '#FE664F',
                  '#00FDFA',
                  '#FE664F'
                  ],
                  borderWidth: 0,
                  barThickness: 30,
                  minBarLength: 0
              }]
              },
              options: {
              scales: {
                  y: {
                  beginAtZero: true
                  }
              }
              }
          });
  